@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #21375f;
  color: rgb(255, 255, 255);
  font-family: 'Black Ops One', cursive;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

header {
  font-family: 'Black Ops One';
  display: flex;
  justify-content: center;
  justify-content: flex;
  font-size: 5rem;
  padding-bottom: 5px;
  font-weight: bold;
}

.cas {
  padding-top: 1rem;
  font-size: 3rem;
  margin-left: 3rem;
}

td,
th {
  border: 2px solid #ddd;
  text-align: left;
  font-size: 3rem;
  padding-left: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-weight: bold;
  font-size: 5rem;
  padding-bottom: 500px;
  height: 50vmin;
  max-height: 90vh;
  min-height: 88vh;
  overflow-y: auto;
}

table tr {
  background-color: #1c2f53;
}

table tr:nth-of-type(2n+1) {
  background-color: #3f7ba3;
}

th {
  background-color: #3f7ba3;
}

@media only screen and (max-width: 768px) {
  header {
    font-size: 2rem;
  }

  .cas {
    margin-left: 10%;
    font-size: 1.5rem;
  }

  table {
    font-size: 1.5rem;
    height: calc(100% - 6.5rem);
  }
}

@media only screen and (min-width: 1200px) {
  header {
    font-size: 7rem;
  }

  .cas {
    margin-left: 5%;
    font-size: 4rem;
  }

  td,
  th {
    font-size: 4rem;
  }

  table {
    font-size: 6rem;
  }
}
